body {
    font-family: 'Montserrat';
}

/* .syed {
    margin-left: 10px;
} */

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {  
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 900;
}

.container-fluid {
    padding: 3% 15% 100px;
}

.kutta {
    width: 25%;
    transform: rotate(20deg);
    position: absolute;
    right: 20%;
}


/* navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.features-headers {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.features-p {
    text-align: center;
    color: #8f8f8f;
}

.awesomefont-icons {
    color: #ef8172;
    padding-bottom: 1rem;
}

.awesomefont-icons:hover {
    color: #ff4c68;
}



/* Middle Portion */
#features {
    position: relative;
    padding: 7% 15%;
    background-color: #fff;
    /* z-index: 1; */
    /* bottom: 160px; */
}

.features-row {
    text-align: center;
    padding: 5%;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;   
}

.press-images {
    width: 15%;
    margin: 20px 20px 50px;    
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 5% 15% 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #8f8f8f;
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 5% 15% 100px;
}

.cta-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.logos {
    color: black;
    padding: 5% 1%;
}
@media (max-width: 992px) {
    h1 {
        text-align: center;
    }

    .kutta {
        width: 60%;
        transform: rotate(0deg);
        position: static;
        right: 20%;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }

    .title {
        text-align: center;
    }

    #cta {
        background-color: #ff4c68;
        text-align: center;
        color: #fff;
        padding: 15% 15% 100px;
    }
    
    .cta-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 1;
    }

}